<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <button onclick="location='/dashboard'">Dashboard</button> | 
    <button onclick="location='/customer'">Customers</button> | 
    <button onclick="location='/about'">Aboutus</button> | 
    <button onclick="location='/login'">Logout</button> | 
    <%= username %>
    <hr/>
  </body>
</html>