<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<script type="text/javascript">
  		goLocation = function(nextLocation){
  			location = "/"+nextLocation;
  		}
  	</script>
    <h1><%= title %></h1>
    <button onclick="goLocation('home')">Home</button> | 
    <button onclick="goLocation('customer')">Customers</button> | 
    <button onclick="goLocation('about')">About</button> | 
    <button onclick="goLocation('login')">logout</button> | 
    <hr/>
    <p>Welcome to <%= title %></p>
  </body>
</html>
